.homeBackground {
    height: 515px;
    width: 100%;
    background-color: #E4EBEE;
    display: flex;
    justify-content: space-between;
}

.leftHome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    width: 520px;
    height: 292px;
    z-index: 30;
    margin-left: 71px;
}

.frame25 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 71px;
    gap: 39px;

    
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.005em;
}

.Resources {
    display: flex;
    justify-content: space-between;
}

.frame23 {
    margin-top: 91px;
    gap: 32px;
    width: 677px;
    height: 166px;
}

.title {
    width: 571px;
    height: 58px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
}

.text {
    width: 677px;
    height: 76px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-top: 92px;
    letter-spacing: 0.01em;
}

.joinHome {
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    gap: 10px;

    width: 162px;
    height: 56px;
    border-radius: 36px;
    align-items: center;
    border: none;
}

#padding {
    padding-top: 75px;
}

#padding2 {
    padding: 24px 0 118px 71px;
}

.cards {
    margin-left: 71px;
    height: 2662px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    width: 100%;
    height: 160px;
    background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #FFFFFF;
}

.rightHome {
    height: 515px;

}

.homeMainImage {
    height: 515px;
    z-index: 10;
}

.gradient {
    width: 156px;
    /* top: 135px; */
    background: linear-gradient(90deg, #E4EBEE 13.32%, rgba(217, 217, 217, 0) 91.59%);
    mix-blend-mode: normal;
    height: 515px;
    /*background-color: red;*/
    position: absolute;
}

.resourcesHeader {
    align-self: flex-start;
}

.resourcesTxt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: 0.015em;
}

.frame26 {
    width: 100%;
    height: 326px;
    background: #E4EBEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uniqueChallenges {
    height: 24px;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.015em;
    color: #0F0F0F;

}

.uniqueChallengesTxt {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 749px;
    letter-spacing: 0.015em;
    text-align: center;
}

.dropInsurance {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 36px;
    margin-left: 71px;
    padding-top: 111px;
}

.dropInsuranceTxt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.015em;
    width: 749px;
    margin-left: 71px;
}

.frame27 {
    height: 627.89px;
    background: #E4EBEE;
    justify-content: space-between;
    display: flex;
    padding: 0 71px;
}

.ourImpact {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.005em;
    padding-top: 21px;
}

.ourImpactTxt {
    width: 507px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.015em;
}

.number {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 149.673px;
    line-height: 181px;
    letter-spacing: 0.005em;
    margin: 40px 150px 0px 0;
    text-align: center;
}

.thousand {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    margin: -20px 150px 0 0;
    text-align: center;
    letter-spacing: 0.005em;
}

.support {
    width: 388px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.015em;
    margin-top: 32px;
}

.impactRight {
}