.impactResourceContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 50px;
}

.hashtag {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 68.3659px;
    line-height: 83px;
    margin-right: 40px;
}

.impactResourceTxt {
    width: 350px;
    align-self: center;
}