.container {
    width: 324px; /*real dimensions are 348*/
    display: flex;
    flex-direction: column;
}

.imageResource {
    width: 324px;   /*real dimensions are 348*/
    height: 189px;
}

.resourceTitle {
    font-size: 16px;
    font-weight: 700;
    padding-top: 30px;
    padding-left: 31px;
}

.resourceText {
    width: 273px;
    padding-left: 31px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.015em;
}