.header {
    height: 32px;
    left: 0px;
    top: 0px;
    background: #1A237E;
    display: flex;
}

.headerBox {
    padding-left: 77%;
}

.header .headerTxt {
    flex-direction: row;
    align-items: flex-start;

    display: flex;
    height: 15px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;

    gap: 16px;
    align-items: center;
    padding-top: 8.5px;
    /*padding-left: 1176px; /*this is why it gets cut off*/
    white-space: nowrap;
    
}