.navbar {
    padding: 14px 30px;
    justify-content: space-between;

}

.navbar-cont {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: row;
}

.navbar-cont .txtNavbar {
    display: flex;
    align-items: center;
    gap: 48px;
    justify-content: space-between;

    height: 19px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.015em;
    color: black;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
    white-space: nowrap;
}

.ffsdButton {
    width: 20%; /*change to 296 maybe according to figma*/
    height: 75px;
    left: 56px;
    top: 46px;
    background: #1A237E;
    border-radius: 16px;
    margin-left: 26px;
    text-decoration: none;
}

#ffsd {
    width: 137px;
    height: 44px;
    font-family: 'Inter';
    padding-left: calc(50% - 137px/2 + 0.5px);
    padding-top: 20px;

    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.405em;
    color: white;
}

.right-navbar {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    align-items: center;
    gap: 32px;  /*try 32*/

    width: 147px;
    height: 35px;
    padding-top: 0px;
}

.logIn {
    color: #1A237E;
    font-family: "Inter";
    font-style: normal;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.015em;
    cursor: pointer;
    text-decoration: none;
}

#join {
    padding: 8px 16px;
    width: 66px;
    height: 35px;
    background: #1A237E;
    color: white;
    border-radius: 16px;
    border: none;
    
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    cursor:pointer;
    text-decoration: none;
}