.joinPage {
    background-color: #E4EBEE;
    height: 1021px;
    display: flex;
    justify-content: space-around;
}

.joinContainer {
    height: 925px;
    width: 1191px;
    background-color: white;
    margin-top: 44px;
    display: flex;
    justify-content: center;
}

.joinRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1041px;
}

.joinRow2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 692px;
}

.joinField {
    display: flex;
    flex-direction: column;
}
#joinTitle {
    padding-top: 65px; /*change this*/
}

#joinTxt {
    width: 883px;
    height: 72px;
    padding-bottom: 50px;
}

#joinSubmit {
    width: 220px;
    margin-left: 0px;
}

#firstName {
    width: 460px;
}

#lastName {
    width: 460px;
}

#prefix {
    width: 106px;
}

#practiceName {
    width: 517px;
}

#email {
    width: 517px;
}

#apt {
    width: 280px;
}

#practiceAddress {
    width: 754px;
}

#city {
    width: 342px;
}

#postalCode {
    width: 342px;
}

#state {
    width: 342px;
}

#password {
    width: 342px;
}

#confirmPassword {
    width: 342px;
    padding-left: 8px;
}

.horizontalLine {
    border-top: solid;
    color: rgba(15, 15, 15, 0.5);
    border-width: 0.01em;
    transform: rotate(-0.193deg);
    width: 1041.006px;
    padding-bottom: 32px;
    margin-top: 22.5px;

}

.verificationPopup {
    
    width: 584px;
    height: 420px;
    margin-left: 31%;
    margin-top: 10%;        /* change to 14%? */

    /* FFS Background */
    background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #FFFFFF;
    border-radius: 4px;
}

.popupTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.015em;
    padding-left: 61px;
    padding-top: 126px;
    color: #000000;
}

.popupText {
    width: 461px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.015em;
    color: black;
    padding-top: 24px;
    padding-left: 61px;
}

.popupOKButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;
    display: flex;
    width: 56px;
    height: 35px;
    margin-left: 61px;
    margin-top: 40px;

    /* FFS Light Blue */
    background: #AFCF4E;
    border-radius: 16px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.015em;
    color: #0F0F0F;
    cursor: pointer;
}

.popupOKButton:hover {
    background-color: #97B245;
}

#payNow {
    width: 101px;
}